/* 
    #D35C37 GINGER 
    #BF9A77 LIGHT GREY 
    #D6C6B9 OAT 
    #97B8C2 CONCRETE 
*/

:root {
  --main-color: #bf9a77;
  --secondary-color: #d6c6b9;
}

body {
  background-color: var(--main-color);
}

header {
  display: flex;
  justify-content: center;
  margin: 50px;
  gap: 200px;
}

header > h1 {
  background-color: var(--secondary-color);
  padding: 20px 50px;
  border-radius: 10px;
  border: 5px solid;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.singlePlayer,
.multiPlayer {
  width: 300px;
  height: 300px;
  background-color: var(--secondary-color);
  border: 10px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.subcontainer-1,
.subcontainer-2 {
  text-align: center;
}

img[src="icons/singlePlayer.svg"],
img[src="icons/multiPlayer.svg"] {
  width: 200px;
  height: auto;
}

img[src="icons/hand.svg"] {
  width: 50px;
}

img[src="icons/AI.svg"] {
  margin-bottom: 15px;
}
img {
  width: 100px;
  height: auto;
}

.singlePlayer:hover,
.multiPlayer:hover,
img[src="icons/refresh.svg"]:active,
img[src="icons/home.svg"]:active {
  transform: translateY(-5px);
  box-shadow: 0px 0px 150px var(--secondary-color);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.boardGame {
  width: 600px;
  height: 600px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: 15px solid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

header.game {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player {
  height: 300px;
}
